In [1]:
import pandas as pd

In [2]:
file_path = "D:\\Python\\LinkedInLearning\\Ex_Files_Hands_On_Data_Sci_3\\Exercise Files\\MonthlyProductSales.csv"
df = pd.read_csv(file_path, encoding = "ISO-8859-1")

In [83]:
df.head(n=10)

,Month of Order Date,Product Name,Sales
0,2013-05-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",208.0
1,2015-06-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",208.0
2,2013-11-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",333.0
3,2016-07-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",416.0
4,2016-11-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",500.0
5,2015-08-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",1041.0
6,2013-11-01,1/4 Fold Party Design Invitations & White Enve...,6.0
7,2014-11-01,1/4 Fold Party Design Invitations & White Enve...,44.0
8,2014-12-01,3-ring staple pack,4.0
9,2013-01-01,3-ring staple pack,6.0

In [81]:
df.tail(n=10)

                                   Product Name  Sales
Month of Order Date
2015-07-01           Zipper Ring Binder Pockets    2.0
2015-12-01           Zipper Ring Binder Pockets    3.0
2016-01-01           Zipper Ring Binder Pockets    3.0
2015-11-01           Zipper Ring Binder Pockets    4.0
2014-11-01           Zipper Ring Binder Pockets    6.0
2016-06-01           Zipper Ring Binder Pockets    6.0
2016-07-01           Zipper Ring Binder Pockets   10.0
2013-04-01           Zipper Ring Binder Pockets   14.0
2016-12-01           Zipper Ring Binder Pockets   15.0
2013-07-01           Zipper Ring Binder Pockets   16.0

In [84]:
df.describe()

              Sales
count   9252.000000
mean     248.308798
std      669.441779
min        0.000000
25%       18.000000
50%       60.000000
75%      222.000000
max    22638.000000

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9252 entries, 1 to 9252
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Month of Order Date  9252 non-null   object
 1   Product Name         9252 non-null   object
 2   Sales                9252 non-null   int64
dtypes: int64(1), object(2)
memory usage: 289.1+ KB

In [70]:
s = df["Product Name"]
s

No.
1       1.7 Cubic Foot Compact "Cube" Office Refrigera...
2       1.7 Cubic Foot Compact "Cube" Office Refrigera...
3       1.7 Cubic Foot Compact "Cube" Office Refrigera...
4       1.7 Cubic Foot Compact "Cube" Office Refrigera...
5       1.7 Cubic Foot Compact "Cube" Office Refrigera...
                              ...
9248                           Zipper Ring Binder Pockets
9249                           Zipper Ring Binder Pockets
9250                           Zipper Ring Binder Pockets
9251                           Zipper Ring Binder Pockets
9252                           Zipper Ring Binder Pockets
Name: Product Name, Length: 9252, dtype: object

In [71]:
s.value_counts(dropna=False)

Easy-staple paper                                              32
Staples                                                        30
Staple envelope                                                30
Staples in misc. colors                                        18
Avery Non-Stick Binders                                        14
                                                               ..
Xerox 20                                                        1
Cisco Desktop Collaboration Experience DX650 IP Video Phone     1
Cisco SPA 501G IP Phone                                         1
Cisco SPA525G2 5-Line IP Phone                                  1
Panasonic BusinessÊTelephonesÊKX-T7736                          1
Name: Product Name, Length: 1850, dtype: int64

In [76]:
df["Month of Order Date"].str[:4]

No.
1       5/1/
2       6/1/
3       11/1
4       7/1/
5       11/1
        ...
9248    6/1/
9249    7/1/
9250    4/1/
9251    12/1
9252    7/1/
Name: Month of Order Date, Length: 9252, dtype: object

In [3]:
df.groupby(df["Month of Order Date"].str[:4]).describe()

                      Sales                                                   \
                      count        mean         std  min   25%   50%     75%
Month of Order Date
2013                 1875.0  258.267200  803.537374  1.0  17.0  55.0  224.00
2014                 1968.0  239.107215  521.330289  1.0  19.0  62.0  225.25
2015                 2400.0  253.550833  711.795040  1.0  19.0  58.5  222.00
2016                 3009.0  243.940512  627.741547  0.0  18.0  60.0  221.00


                         max
Month of Order Date
2013                 22638.0
2014                  7312.0
2015                 17500.0
2016                 14000.0